{% extends 'base.html.twig' %}

{% block content %}
    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">Wanderlust Sardinia</h1>
                        <p class="intro-text">Discover the nature
                            <br></p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">

                <h2>About Wanderlust Sardinia</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam aliquam augue nisl, eget efficitur quam rhoncus sed. Nullam cursus congue diam vel egestas. Donec porta est non nisi interdum aliquet. Cras quam velit, egestas a metus eu, euismod ullamcorper sem.</p><p> Pellentesque pellentesque, neque ut vehicula consectetur, est lacus commodo velit, nec mattis est diam vel risus. Aliquam pharetra tempus ipsum. Mauris ante nunc, lobortis vel commodo a, elementum ac lorem.</p><p> Maecenas augue turpis, commodo ornare luctus sit amet, vulputate in ligula. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Phasellus in nunc tortor. Etiam id lectus quis tortor porttitor ultrices. Duis id sem elit. Donec pretium metus nisi, id ultricies lorem aliquet eu. Phasellus sed egestas dolor. Mauris facilisis ac quam ut varius. Donec lacinia et quam at feugiat. </p>
            </div>
        </div>
    </section>
    <!-- Download Section -->
    <section id="discover" class="content-section text-center">
        <div class="review-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Check the latest review</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam aliquam augue nisl, eget efficitur quam rhoncus sed.</p>

                    <a href="#" class="btn btn-default btn-lg">Visit The Review Page</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}