/* General */
body {
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  color: #424242;
  background-color: #EEF1F3;
}
html {
  width: 100%;
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 5px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}
p {
  /*margin: 0 0 25px;*/
  font-size: 15px;
  line-height: 1.2;
}
body::-moz-selection { background: yellow; }
body::selection { background: yellow; }
@media (min-width: 768px) {
  p {
    font-size: 15px;
    line-height: 1.6;
  }
}
.navbar-brand {
  padding: 0;
}
.navbar-custom{
  padding-top: 10px ;

}
a {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
a.btncolor{
  color: #000000;
}
a:hover,
a:focus {
  text-decoration: none;
  color: #0073AA;
}
.light {
  font-weight: 400;
}
.navbar-custom {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  font-family: 'Roboto', sans-serif;
  background-color: black;
}
.logo_main{
  width: 50%;
}
.navbar-custom .navbar-toggle {
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 12px;
}
.navbar-custom .navbar-toggle:focus,
.navbar-custom .navbar-toggle:active {
  outline: none;
}
.navbar-custom .navbar-brand {
  font-weight: 700;
}
.navbar-custom .navbar-brand:focus {
  outline: none;
}
.navbar-custom a {
  color: #fff;
}
.fa-angle-double-down{
  color: #fff;
}
.navbar-custom .nav li a {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.navbar-custom .nav li a:hover {
  opacity: 0.7;
  outline: none;
  background-color: transparent;
}
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
  outline: none;
  background-color: transparent;
}
.navbar-custom .nav li.active {
  outline: none;
}
.navbar-custom .nav li.active a {
  background-color: rgba(255, 255, 255, 0.3);
}
.navbar-custom .nav li.active a:hover {
  color: white;
}
.img-avatar{
  background-color: white;
  border: 1px solid #eef1f3;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  cursor: pointer;
}
.dropdown-menu {
  background-color: #0073AA;
}

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
  background-color: transparent !important;
}
.dropdown-menu > li > a{
  color: #fff;
}
.dropdown-menu li a:focus, .dropdown-menu li a:hover {
  color: #fff !important;
  opacity: 0.7;
  outline: medium none;;
}
select{
  color: black;
}

@media (min-width: 768px) {
  .navbar-custom {
    border-bottom: none;
    letter-spacing: 1px;
    background: #0073AA;
    -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  }
  .navbar-custom.top-nav-collapse {
    padding: 0;
    background: rgb(29,80,141);
    opacity: 0.5;
  }
}

/* login page */
.loginpage{
  width: 100%;
  height: auto;
  padding: 15% 3%;
  color: white;
  background: url(../img/cagliarilandscape.jpg) no-repeat bottom center scroll;
  background-color: #fff;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.loginbox{
  background-color: rgba(66,66,66,0.8);  
  padding: 10%;
  margin: auto;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.loginbox input[type="text"], .loginbox input[type="password"]{
  color: #424242;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 5px;
  border:none;
  width: 80%;
}
div.loginbox div span.help-block{
  color: #fff;
}


/* signup page*/
.signupbox{
 background-color: rgba(66,66,66,0.8);  
  padding: 10%;
  margin: auto;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.signupbox input[type="text"], .signupbox input[type="password"] {
  border: medium none;
  border-radius: 4px;
  color: #424242;
  padding: 5px;
  width: 100%;
}
/*homepage*/
.intro{
  display: table;
  width: 100%;
  height: auto;
  padding: 100px 0;
  text-align: center;
  color: white;
  background: url(../img/mare-sardegna.jpg) no-repeat bottom center scroll;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.intro .intro-body {
  display: table-cell;
  vertical-align: middle;
}
.intro .intro-body .brand-heading {
  font-size: 40px;
}
.intro .intro-body .intro-text {
  font-size: 18px;
}
@media (min-width: 768px) {
  .intro {
    height: 100%;
    padding: 230px 0 100px 0;
  }
  .intro .intro-body .brand-heading {
    font-size: 80px;
  }
  .intro .intro-body .intro-text {
    font-size: 26px;
  }
}
.btn-circle {
  width: 70px;
  height: 70px;
  margin-top: 15px;
  padding: 7px 16px;
  border: 2px solid white;
  border-radius: 100% !important;
  font-size: 40px;
  color: white;
  background: transparent;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.btn-circle:hover,
.btn-circle:focus {
  outline: none;
  color: white;
  background: rgba(255, 255, 255, 0.1);
}
.btn-circle i.animated {
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1s;
  -moz-transition-property: -moz-transform;
  -moz-transition-duration: 1s;
}
.btn-circle:hover i.animated {
  -webkit-animation-name: pulse;
  -moz-animation-name: pulse;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes pulse {
  0% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -moz-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
}


div.main-footer {
  padding: 50px 50px 70px 50px;
  border-top: 2px solid #fff;
}
footer > div > div > a {
  display: block;
  color: #424242;
}
.main{
  padding-top: 8%;
  min-height: 100%;
}
.titleform{
  text-align: center;
}
.profilepage{
  padding: 150px 50px 100px 50px;
  text-align: center;
}
.activities{
  text-align: left;
}
.img-profile{
  width: 50%;
  margin: 0 auto;
}
.modal-content {
  color: #000000;
}
.modal-header{
  border: 0;
}
.formlayout{
  width: 30%;
  text-align: left;
  margin: 0 auto;
  padding-top: 8%;
}
.contactinfo{
  text-align: left;
}
.review-section {
  width: 100%;
  padding: 50px 0;
  color: white;
  background: url(../img/reviewbanner.jpg) no-repeat center center scroll;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
div.login-form div{
  text-align: center;
}


@media (min-width: 767px) {
  .review-section {
    padding: 100px 0;
  }
}
.btn {
    background-color: transparent;
    border: 1.5px solid #fff;
    border-radius: 20px;
    color: #fff;
    font-family: "Roboto",Helvetica,Arial,sans-serif;
    font-weight: 400;
    transition: all 0.3s ease-in-out 0s;
}
.dark{
    border: 1.5px solid #424242;
    border-radius: 20px;
    color: #424242;    
}
.btn:hover{
  opacity: 0.5;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.btn-form{
  background-color: #0073AA;
  border: none;
}
.btn-form:hover{
  color: #fff;
  opacity: 0.8;
}
.btn-default {
  border: 1px solid #42DCA3;
  color: #42DCA3;
  background-color: transparent;
}
.btn-default:hover,
.btn-default:focus {
  border: 1px solid #42DCA3;
  outline: none;
  color: black;
  background-color: #42DCA3;
}
ul.banner-social-buttons {
  margin-top: 0;
}
@media (max-width: 1199px) {
  ul.banner-social-buttons {
    margin-top: 15px;
  }
}
@media (max-width: 767px) {
  ul.banner-social-buttons li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }
  ul.banner-social-buttons li:last-child {
    margin-bottom: 0;
  }
}

::-moz-selection {
  text-shadow: none;
  background: #808080;
  background: rgba(128,128,128,0.6);
}
::selection {
  text-shadow: none;
  background: #808080;
  background: rgba(128,128,128,0.6);
}
img::selection {
  background: transparent;
}
img::-moz-selection {
  background: transparent;
}
body {
  webkit-tap-highlight-color: rgba(128,128,128,0.6);
}

.alert {
  position: absolute;
  top: 100px;
  right: 0px;
  width: 20%;
  z-index: 99;
}
/* Request password */

.content-section {
  min-height: 85%;
}
.content-section p {
  padding-top: 200px;
  padding-right: 2%;
  padding-left: 2%;
  text-align: center;
  font-size: 1.5em;
}
section.content-section div.fos_user_user_show p {
  padding-top: 0;
}
div.fos_user_user_show{
  padding-top: 200px;
}
.request-password {
  padding-top: 200px;
}
/* Forms */
.addlocationBox {
  background-color: rgba(66,66,66,0.8);  
  padding: 10%;
  margin: auto;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.addlocationBox input {
  width: 100%;

}
/* Profile page */

.panel{
  border: none;
}
.panel-heading {
  background-color: transparent;
}
.profilebio{
  font-style: italic;
}
.panel-body a{
  color: #424242;
  font-weight: bold;
}
.modal-body form div.form-group, .modal-body form div.form-control-file {
  text-align: left;
}
.modal-body form div input {
  width: 100%;
}
/* Discover page */

#wsMap {
   width: 100%; 
   height: 85%;   
}

#wsMap a {
   color: #424242;
}

/* Location page */

.img-banner { 
  max-width: 100%;
  -webkit-border-top-left-radius: 4px;
  -moz-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
}
.loc_thumb{
  width: 10%;
  display: inline-block;
  vertical-align: top;
}
.img-container{
  -webkit-border-top-left-radius: 4px;
  -moz-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  width: 100%;
  height: 300px;
  background-position: center;
  background-size: cover;
}
.panel-default > .panel-heading {
  background-color: #ffffff;
}
.list-group-item {
  padding: 20px 15px;
}
.activities-panel {
  background-color: #ffffff;
  padding: 2%;
}

.loc_title{
  display: inline-block;
  padding: 30px;
  color: #fff;
  position: absolute;
  z-index: 1;
  text-transform: capitalize;
}

.desc-container{
  padding: 30px;
}
.loc_title h1 {
  text-transform: capitalize;
}
.loc_card {
  background: #ffffff;
  margin-top: 150px;
  padding: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  box-shadow: rgba(44,​ 54,​ 67,​ 0.1) 0px 0px 1px 0px;
}
.cont_review {
  margin-top: 30px;
  text-align: center;
}
.title_review {
  margin: 40px 2px;
  display: inline-block;
}
.title_act{
  margin: 0px 2px 40px 2px;
  display: inline-block;
}
.plusbutton{
  display: inline-block;
  color: #424242;
}
.single_review {
  margin-bottom: 15px;
}

.bubble {
  position: relative;
  width: 70%;
  padding: 9px;
  background: #FFFFFF;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: #EEF1F3 solid 2px;
}

.bubble:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 15px 27px 15px 0;
  border-color: transparent #FFFFFF;
  display: block;
  width: 0;
  z-index: 1;
  margin-top: -15px;
  left: -27px;
  top: 51%;
}

.bubble:before {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 17px 29px 17px 0;
  border-color: transparent #EEF1F3;
  display: block;
  width: 0;
  z-index: 0;
  margin-top: -17px;
  left: -32px;
  top: 51%;
}
div.bubble, .review_thumb{
  display: inline-block;
  vertical-align: middle;
}

.review_thumb{
  background-color: white;
  margin-right: 40px;
  border: 1px solid #eef1f3;
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  cursor: pointer;
}
.card-box {
  background-color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  box-shadow: rgba(44,​ 54,​ 67,​ 0.1) 0px 0px 1px 0px;
  padding: 0;
}
.userdetails{
  padding: 5px;
  font-size: 10px;
  font-style: italic;
}
.review-form{
  padding: 20px;
  width: 70%;
  margin-bottom: 30px;
}
.margin-top{
  margin-top: 30px;
}
.thumbLoc {
  width: 30%;
  height: 150px;
  background-position: center;
  background-size: cover;
  display: inline-block;
}
.thumbLoc:hover{
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}

/* Home page */
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
.text-index{
  font-family: 'Prata', serif;
  font-size: 2em;
  color: #424242;
  font-style: italic;
}
#about{
  padding: 100px;
  width: 80%;
}
.location-box {
  height: 300px;
  width: 100%;
  background-size: cover;
  background-position: center;
  z-index: 0;
}
.location-box:hover{
  opacity: 0.7;
  transition: all 0.3s ease-in-out 0s;
}
.title-box {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 30;
  color: #fff;
  padding: 30px;
}
.overlay-box{
  background-color: rgba(0,0,0,0.40);
  position: absolute;
  bottom: 0;
  left: 0;
  height: 30%;
  z-index: 20;
  width: 100%;
}
/* Footer */
.footer-distributed{
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  /*height: 15%;*/
  text-align: left;
  font: normal 16px sans-serif;
  padding: 45px 50px;
}

.footer-distributed .footer-left p{
  color:  #8f9296;
  font-size: 14px;
  margin: 0;
}

/* Footer links */

.footer-distributed p.footer-links{
  font-family: 'Roboto', sans-serif;
  font-size:18px;
  font-weight: normal;
  color:  #ffffff;
  margin: 0 0 10px;
  padding: 0;
}

.footer-distributed p.footer-links a{
  display:inline-block;
  line-height: 1.8;
  text-decoration: none;
  color:  inherit;
}

.footer-distributed .footer-right{
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

.footer-distributed .footer-right a{
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color:  #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  border-radius: 4px;
}

/* responsive footer */

@media (max-width: 600px) {

  .footer-distributed .footer-left,
  .footer-distributed .footer-right{
    text-align: center;
  }

  .footer-distributed .footer-right{
    float: none;
    margin: 0 auto 20px;
  }

  .footer-distributed .footer-left p.footer-links{
    line-height: 1.8;
  }
} 
